ul li {
    list-style-type: none;
    margin-bottom: 10px;
    font-weight: bold;
    height: 24px;
}
input {
    width: 213px;
    height: 22px;
    border:1px solid #C1C1C1;
    padding: 0 5px;
    vertical-align: middle;
    line-height: 1.5;
}
label {
    display: inline-block;
    vertical-align: middle;
    width: 82px;
}
span {
    color: red;
}
.hide {
    display: none;
}
.error + span {
    display: inline-block;
}
